@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,500&display=swap');


@media (max-width: 400px){

  *{
    box-sizing: border-box;
  }

  body{
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    
  }

  header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
  }

  .interna {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 20px;
  }

  img{
    width: 75px;
    height: 53px;
  }

  ion-icon{
    width: 40px;
    height: 30px;
  }

  .container{
    width: 100vw;
    height: 100%;
    margin: 100px 0;
  }

  footer{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
  }

  footer ion-icon{
    width: 26px;
    height: 26px;
  }

  footer textarea{
    width: 80%;
    height: 50%;
    border: none;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding-top: 7px;
    font-family: 'Roboto', sans-serif;
  }



  .menu {
    z-index: 2;
    width: 65%;
    height: 100vh;
    background-color: white;
    position: fixed;
    right: -280px;
    top: 0;
    bottom: 0;
    padding: 0 18px;
    transition: all 1.5s;
  }

  .transitionMenu{
    right: 0;
    transition: all 1.5s;
  }

  .messageType h2, .visibilityType h2{
    font-size: 16px;
    font-weight: 700;
    height: 85px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 16px;
  }

  .users, .visibility{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .users div, .visibility div{
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .visibility span{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
  }

  .menuBackground {
    display: flex;
  }



  .background {
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0;
    transition: all 1.5s;
    position: fixed;
    top: 0;
    right: -400px;
  }

  .transitionOpacity{
    opacity: 0.6;
    transition: all 1.5s;
    right: 0;
    left: 0;
  }


  .hidden {
    display: none;
  }


}