@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,500&display=swap');


@media (max-width: 800px){

  *{
    box-sizing: border-box;
  }

  body{
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
  }

  .welcomeMenu{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px double black;
  }

  .welcomeMenu > img:nth-child(1){
    position: absolute;
    top: 90px;
    width: 130px;
    height: auto;
  }

  .welcome1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .welcome1 > input{
    width: 260px;
    height: 55px;
    border: 1px solid #D7D7D7;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 7px;
  }

  .welcome1 > button{
    width: 110px;
    height: 45px;
    border: none;
    border-radius: 9px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: 7px;
    color: #696969;
  }

  .welcomeMenu > .gif{
    width: 130px;
    height: auto;
  }

  .welcome2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
  }

  .welcome2 > p{
    margin-bottom: 20px;
  }

  header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
  }

  header > ion-icon{
    width: 43px;
    height: 43px;
  }

  img{
    width: 75px;
    height: 53px;
  }

  ion-icon{
    width: 40px;
    height: 30px;
  }

  .container{
    width: 100%;
    height: 100%;
    margin: 100px 0;
  }

  .interna {
    height: 80px;
    padding: 15px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
  }

  footer ion-icon{
    width: 35px;
    height: 35px;
  }

  footer textarea{
    width: 130%;
    height: 90%;
    border: none;
    padding-top: 7px;
    outline: none;
    overflow-y: auto;
  }

  textarea::placeholder{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    color: black;
  }

  footer p{
    font-size: 14px;
    font-weight: 300;
    color: #505050;
  }

  .menu {
    z-index: 2;
    width: 65%;
    height: 100vh;
    background-color: white;
    position: fixed;
    right: -380px;
    top: 0;
    bottom: 0;
    padding: 0 18px;
    transition: all 1.5s;
    overflow-y: auto;
  }

  .transitionMenu{
    right: 0;
    transition: all 1.5s;
  }

  .messageType h2, .visibilityType h2{
    font-size: 16px;
    font-weight: 700;
    height: 85px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 16px;
    margin-bottom: 10px;
  }

  .users, .visibility{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .visibility > div, .users > div{
    display: flex;
    align-items: center;
  }


  .visibility span{
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
  }

  .background {
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0;
    transition: opacity 1s;
    position: fixed;
    top: 0;
    right: -500px;
  }

  .transitionOpacityPosition{
    opacity: 0.6;
    right: 0;
    left: 0;
    transition: opacity 1s;
  }

  .transitionOpacity{
    opacity: 0.6;
  }

  .transitionPosition{
    right: 0;
    left: 0;
  }

  .hidden{
    display: none;
  }

  .check{
    display: initial;
    width: 20px;
    height: 20px;
    color: #28BB25;
    font-weight: 900;
  }

  .format{
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    word-break: break-all;
    word-wrap: break-word;
  }

  .status{
    background-color: #dcdcdc;
  }

  .message{
    background-color: #ffffff;
  }

  .private_message{
    background-color: #FFDEDE;
  }

  strong{
    font-weight: 700;
  }

  en{
    color: #aaaaaa;
    padding-right: 5px;
  }


}